#dateContainer {
    display: flex;
    justify-content: center;
}

.currentDate {
    width: 150px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffffff;
    margin: 5px;
    border: 1px solid #005f99;
    border-radius: 5px;
}

#container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#scheduleContainer{
    width: 800px;
    height: 500px;
    border: 1px solid #005f99;
    border-radius: 50px;
}

#saveScheduleButton{
    background-color: #ffffff;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 1px solid #005f99;
    border-radius: 10px;
}

#saveScheduleButton:hover {
    background-color: #005f99;
}