body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.findIdContainer {
    width: 400px;

}

.findIdContainer h1 {
    margin-bottom: 100px;
}

/* .emailElements {
    width: ;
} */

#emailLabel{
    display: block;
    text-align: left;
}