body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.findIdContainer {
    width: 200px;
}

.findIdContainer h1 {
    margin-bottom: 50px;
}

#emailLabel{
    display: block;
    text-align: left;
}

#findeIdButton{
    text-align: center;
}